<header>
  <div class="navbar">
    <a routerLink="">Home</a>
    <a routerLink="/movies" routerLinkActive="active">Movies</a>
    <a routerLink="/tv" routerLinkActive="active">TV Shows</a>
    <a routerLink="/people" routerLinkActive="active">People</a>
    <a *ngIf="authService.isLoggedIn" routerLinkActive="active" routerLink="/favorite">Favorite</a>
    <a *ngIf="authService.isLoggedIn" routerLinkActive="active" routerLink="/watchlist">Watchlist</a>
    <a class="btn btn-danger" routerLink="/sign-in" *ngIf="!authService.isLoggedIn">Login/SignUp</a>

      <a class="dropbtn" *ngIf="authService.isLoggedIn">Welcome, {{authService.getCurrentUser().email.split('@')[0]}}
      </a>
        <a class="btn btn-danger" (click)="authService.SignOut()" *ngIf="authService.isLoggedIn">SignOut</a>
  </div>
   
</header>
 