<div class="forbidden-wrapper">
  <div class="forbidden-content">
    <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZD0iTTguMjcsM0wzLDguMjdWMTUuNzNMOC4yNywyMUgxNS43M0MxNy41LDE5LjI0IDIxLDE1LjczIDIxLDE1LjczVjguMjdMMTUuNzMsM005LjEsNUgxNC45TDE5LDkuMVYxNC45TDE0LjksMTlIOS4xTDUsMTQuOVY5LjFNOS4xMiw3LjcxTDcuNzEsOS4xMkwxMC41OSwxMkw3LjcxLDE0Ljg4TDkuMTIsMTYuMjlMMTIsMTMuNDFMMTQuODgsMTYuMjlMMTYuMjksMTQuODhMMTMuNDEsMTJMMTYuMjksOS4xMkwxNC44OCw3LjcxTDEyLDEwLjU5IiAvPjwvc3ZnPg==" alt="">
    <h1 class="title">forbidden content</h1>
  </div>
</div>
