@import "/src/app/shared.scss";


h1 {
  text-align: center;
  color: white;
  margin-top: 50px;
}

.nav-tabs {
  align-items: center;
  justify-content: center;
  border: none;
  padding-bottom: 10px;

  .nav-link {
    border-radius: 30px;
    padding: 1px 15px;
    transition: all 0.6s;
    color: white;
    border: none;

    &:hover {
      background: #0b355a;
      color: white;
    }
    &.active {
      background: #0d3354;
      color: white;
    }
  }
}
